name: Web E2E Tests

on:
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Node version
        run: node --version

      - name: Instalando dependências
        run: npm install

      - name: Corrigindo permissões do Cypress
        run: chmod +x ./node_modules/.bin/cypress

      - name: Instalando binário do Cypress
        run: npx cypress install

      - name: Executando os testes
        run: npx cypress run

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: test-artifacts
          path: |
            cypress/reports
            cypress/screenshots
            cypress/videos

